<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ titulo }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
{% include "header.html" %}

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

{% include "footer.html" %}

<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>
