{% extends 'base.html' %}

{% block content %}
<div class="container px-4 py-5" id="custom-cards" xmlns="http://www.w3.org/1999/html">
    <h2 class="pb-2 border-bottom">01 - Jogos Matemáticos | Fase 1 - Tentativa N° {{ pagina }}</h2>
    <p>{{ msg }}</p>
    <form method="post" action="{{ url_for('fase1') }}">
        <label for="chute">Palpite um número de 0 a 100:</label>
        <label>
            <input type="number" name="chute" required>
        </label>
        <button type="submit">Palpitar</button>
    </form>

    {% if mensagem %}
    <p>{{ mensagem }}</p>
    {% endif %}
</div>
{% endblock %}